{% extends "layout.html" %}

{% block content %}
<form action="/atlas_connect_info_update" method="post">
  <div class="mb-3">
    <label for="atlas_connect_info" class="form-label">atlas 접속 정보:</label>
    <input type="text" value="{{ atlas_connection_info }}" class="form-control" id="atlas_connect_info" name="atlas_connect_info" aria-describedby="emailHelp">
    <div id="atlas_connect_info_Help" class="form-text">atlas 원격 접속 정보입니다.</div>
  </div>

  <button type="submit" class="btn btn-outline-secondary">저 장</button>
</form>

{% endblock content %}