<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <td>
                <img src="static\images\{{ selected_list[0] }}.jpg">
            </td>
            <td>
                <img src="static\images\{{ selected_list[1] }}.jpg">
            </td>
            <td>
                <img src="static\images\{{ selected_list[2] }}.jpg">
            </td>
            <td>
                <img src="static\images\{{ selected_list[3] }}.jpg">
            </td>
        </tr>
    </table>
</body>
</html>