<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>서적 목록</title>
</head>
<body>
    <h3>서적 목록</h3>
    <table width="600px" border="1" bordercolor="blue">
        <tr>
            <td>제목</td>
            <td>표지</td>
            <td>저자</td>
            <td>가격</td>
            <td>ISBN</td>
            <td>등록일자</td>

            <td>
            </td>
        </tr>
        {% for row in 컬렉션 %}
        <tr>
            <td>{{  }}</td>
            <td><img width="50px" height="50px" src=""></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="button" value="수정">
                <input type="button" value="삭제">
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>